* {
    box-sizing: border-box;
}
a{
text-decoration: none
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
    font-family: Montserrat,sans-serif;
}
.container{
    max-width: 1920px;
    margin: auto;
}
.header__background {
    background-image: url("../img/landing/header-background.jpg");
    background-attachment: fixed;
    margin: auto;
    width: 100%;
    min-height: 1012px;
    background-size: cover;
    opacity: 0.8;
}
.header__bar{
    margin: auto;
    height: 120px;
    background-color: rgba(94, 93, 88, 0.6);
    display: flex;
    align-items: center;
    padding: 0 300px;
    justify-content: space-between;

}

.header__nav__bar{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    display: flex;
}

.header__nav__bar-element{
    margin-right: 22px;
    padding: 49px 0;
    color: #FFFFFF99;
}

.header__nav__bar-element:hover{
    color: #18CFAB;
    border-bottom: #18CFAB 3px solid;
    cursor: pointer;
}
.header__description__box{
    margin-top: 263px;
    display: flex;
    justify-content: center;
}
.header__description__box-text{
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0;
}
.header__description__box-text:first-child{
    color: white;
}
.header__description__box-text:last-child{
    color: #18CFAB;
}
.header-title{
    font-size: 78px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0 0 0;
}
.header-slogan{
    display: block;
    color: #FFFFFF99;
    font-size: 34px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 2px;
}
.header__button__box{
    margin-top: 122px;
    display: flex;
    justify-content: center;
}
.header-btn{
    width: 169px;
    height: 68px;
    color: white;
    border-radius: 7px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    border: none !important;
    border-top: white 5px solid !important;
    cursor: pointer;
}
#explore-now{
    background-color: #18CFAB;
    margin-right: 13px;
}
#purchase-now{
    background-color: #00CBF6;
    margin-left: 13px;
}

.product__capabilities__box{
    margin-top: 5px;
    display: flex;
}
.product__capabilities__box-elements{
    width: 100%;
    min-height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}
.product__capabilities__box-elements:nth-child(odd){
    background-color: #1C2A33;
    color: #18CFAB;
}
.product__capabilities__box-elements:nth-child(even){
    background-color: #18CFAB;
    color: white;
}
.our__services__section{
    width: 1160px;
    height: 375px;
    margin: 90px auto;
}
.our__services__title{
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 40px;
    position: relative;
    color: #4E4E4E;
}
.our__services__section-picture{
    width: 200px;
    height: 140px;
}
.decoration-first-line{
    width: 91px;
    height: 1px;
    border: none;
    background-color: #18CFAB;
    position: relative;
    left: 10px;
}
.decoration-second-line{
    width: 91px;
    height: 1px;
    border: none;
    background-color: #18CFAB;
    position: relative;
    right: 10px;
    margin-bottom: 50px;
}
.our__services__section-menu{
    display: flex;
    margin-bottom: 25px;

}
.our__services__section-menu-tab{
    width: 192px;
    height: 73px;
    background-color: #F8FCFE;
    border: #EDEFEF 1px solid;
    color: #717171;
    display: flex;
    align-items: center;
    justify-content: center;
}
.our__services__section-menu-active-tab{
    background-color: #18CFAB;
    border: #18CFAB;
    color: white;
    position: relative;
}
.our__services__section-menu-active-tab:after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #18CFAB;
    transform: rotate(45deg);
    top: 67px;
}

.our__services__section-menu-tab:hover{
    border: #18CFAB 1px solid;
    cursor: pointer;
}
.our__services__section-menu-descriptions{
    display: none;
    justify-content: center;
    margin-bottom: 90px;
}
.our__services-description-text{
    margin: 0 10px;
    line-height: 180%;
    color: #777777;
}
.our__services__section-menu-active-tab:hover{
    border: none;
}
.purchase-now__section{
    margin: auto;
    width: 100%;
    min-height: 476px;
    background-image: url("../img/landing/purchase-background.png");
    background-size: cover;
    padding-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.purchase-now-text{
    font-size: 40px;
    font-weight: 700;
    color: #18CFAB;
    text-transform: uppercase;
    margin-bottom: 13px;
}
.purchase-now-descriptor{
    font-size: 16px;
    font-weight: 400;
    color: #D8D8D8;
    margin-bottom: 65px;
}
.purchase-now-btn{
    width: 169px;
    height: 68px;
    color: white;
    border-radius: 7px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    border: none !important;
    border-top: white 5px solid !important;
    cursor: pointer;
    background-color: #18CFAB;
}
.our-amazing-work__section{
    background-color: #E9EDEF;
    margin: auto;
    width: 100%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-amazing-work-menu{
    display: flex;
    margin-bottom: 70px;
}
.our-amazing-work-menu-tab{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #717171;
    border: #DADADA 1px solid;
    padding: 0 20px;
    height: 60px;
}
.our-amazing-work-menu-tab:hover{
    border: #18CFAB 1px solid;
    cursor: pointer;
}
.our-amazing-work-menu-tab:first-child{
    padding: 0 35px;
}
.our-amazing-work-gallery{
    display: flex;
    width: 1140px;
    flex-wrap: wrap;
    cursor: pointer;
    margin-bottom: 70px;
}
.our-amazing-work-gallery-picture{
    border-top: white 4px solid;
    box-sizing: content-box;
    display: none;
}
.our-a
.our-amazing-work-gallery-picture:hover{
    border-top: #18CFAB 4px solid;
}
.load-more-btn{
    height: 68px;
    color: white;
    border-radius: 7px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    background-color: #18CFAB;
    width: 169px;
    margin-bottom: 100px;
}

.breaking-news__section{
    padding: 80px 380px 130px 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.breaking-news-menu{
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(2, 280px);
    gap: 35px;
}
.breaking-news-block-link{
    display: block;
}
.breaking-news-menu-posts{
    background-repeat: no-repeat;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    height: 100%;
}
.news-post-date{
    color: white;
    float: right;
    width: 66px;
    height: 66px;
    background-color: #203E38;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.breaking-news-menu-posts:hover .news-post-date{
    background-color: #18CFAB;
}
.breaking-news-menu-posts:hover .post-name{
    color: #18CFAB;
}
.post-descriptor{
    color: #717171;
    margin-right: 60px;
}
.post-name{
    font-weight: 700;
    font-size: 18px;
}
.post-comment{
    font-size: 14px;
    font-weight: 400;
}
.post1{
    background-image: url("../img/breaking-news-pictures/picture1.png");
}
.post2{
    background-image: url("../img/breaking-news-pictures/picture2.png");
}
.post3{
    background-image: url("../img/breaking-news-pictures/picture3.png");
}
.post4{
    background-image: url("../img/breaking-news-pictures/picture4.png");
}
.post5{
    background-image: url("../img/breaking-news-pictures/picture5.png");
}
.post6{
    background-image: url("../img/breaking-news-pictures/picture6.png");
}
.post7{
    background-image: url("../img/breaking-news-pictures/picture7.png");
}
.post8{
    background-image: url("../img/breaking-news-pictures/picture8.png");
}
.what-people-say__section{
    padding: 100px 380px;
    background-image: url("../img/landing/what-they-say-background.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.what-people-say-title{
    color: white;
    font-weight: 400;
    font-size: 36px;
}
.combined-shape{
    margin-top: 100px;
}
.employee-description{
    display: none;
}
.employee-description-photo{
    width: 143px;
    height: 143px;
    margin-bottom: 30px;
}
.employee-menu-photos{
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
}
.employee-menu-photos:hover{
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    transform: translateY(-20px);
}
.employee-description-text{
    margin-top: 40px;
    color: #BBBBBB;
    font-size: 16px;
    font-weight: 400;
    line-height: 180%;
    text-align: center;
    min-height: 58px;
}
.employee-name{
    color: #18CFAB;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
}
.employee\'s-position{
    color: #BBBBBB;
    font-size: 16px;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 40px;
}
#employee-photo{
    margin-bottom: 40px;
}
.employee-menu{
    margin-top: 40px;
    height: 80px;
    width: 485px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.employee-scroll{
    background-color: transparent;
    width: 31px;
    height: 31px;
    border: #BBBBBB 1px solid;
    position: relative;
}
.employee-scroll:hover{
    border: #18CFAB;
    background-color: #18CFAB;
}
.employee-scroll:hover .left:after{
    background-color: #18CFAB;
    color: white;
}
.employee-scroll:hover .right:after{
    background-color: #18CFAB;
    color: white;
}
.left::after{
    position: absolute;
    content: '';
    width: 7px;
    height: 7px;
    border-right: 3px solid #BBBBBB;
    border-bottom: 3px solid #BBBBBB;
    transform: rotate(135deg);
    top: 9px;
    left: 11px
}
.right::after {
    position: absolute;
    content: '';
    width: 7px;
    height: 7px;
    border-right: 3px solid #BBBBBB;
    border-bottom: 3px solid #BBBBBB;
    top: 9px;
    right: 11px;
    transform: rotate(-45deg);
}
.active{
    display: block;
}
.active-descr{
    display: flex;
}
.active-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}